.friends-screen {
  width: 100%;
  min-height: calc(100vh - 70px);
  padding-bottom: 90px;
  background-color: #FBF8F2;
  position: relative;
  overflow: hidden;
}

.friends-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 70px);
  padding: 40px 20px 20px;
  position: relative;
  z-index: 1;
}

.empty-icon {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 24px;
}

.empty-message {
  font-size: 16px;
  color: #333333;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
}
