.user-stage-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  position: relative;
}

.stage-background {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.background-image {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.stage-image {
  width: 200px;
  height: 200px;
  object-fit: contain;
  position: relative;
  z-index: 1;
}
